{
  "extends": ["airbnb-base", "prettier"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "legacyDecorators": true
    }
  },
  "rules": {
    "quotes": [2, "double"],
    "import/prefer-default-export": 0,
    "import/extensions": 0,
    "import/no-unresolved": 0,
    "lines-between-class-members": 0,
    "no-undef": 0,
    "no-console": 0,
    "no-use-before-define": 0
  }
}
