# build files
build/
server/build

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# dotenv environment variables file
.env

# node
node_modules
npm-debug.log

# deploy
deploy.sh
